@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@mixin flex($direction,$justify,$align){
    display:flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items: $align;
}


$dm: 'DM Sans', sans-serif;
$green:#029F58;
$orange1:#ffbb62;
$orange2:#ff8c62;
$dark-purple:#581845;
$light-purple:#900C3F;
$whitenoise:url(./assets/noise.svg);
$noise:url(./assets/whitenoise.svg);

%container{
    position: relative;
    margin:0;
    min-height:70vh;
    width:80%;
    padding:10%;
    overflow:hidden;
    @include flex(column,center,flex-start);
    
   

    @media screen and (min-width:762px){
        height:100vh;
        min-height:500px;
        width:100%;
        padding:0%;
        overflow:hidden;
    }  
}
%bg-layer{
    //background
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-2;
}
%grain-layer{
    //Grain layer
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
}
%noise{
    width:100%;
    color:white;
    position:relative;
     background: url(./assets/noise.svg) top left / cover repeat;
}
%green-bg{
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    height:100%;
    width:100%;
    background: $green;
    opacity:1;
}



body{
    position:relative;
    margin:0;
    padding:0;
    font-family:$dm;
   // outline:1px solid red;
}

nav#topnav{
    position:absolute;
    top:0;
    left:0;
    width:96%;
    height:10vh;
    padding:1% 2%;
    z-index:1;
    @include flex(row,space-between,center);
   

    #brand-logo{
        position:relative;
        width:82px;
        padding:10px;
        margin-left:5%;
        img{
            width:100%;
            filter:saturate(0) brightness(1.5);
        }
    }

    #nav{
        list-style: none;
        @include flex(row,flex-end,center);
        position:absolute;
        top:-16px;
        right:0%;
        width:60%;
        height:5em;

        li{
            display:none;
        }

        a{
            color:white;
            padding:10px 15px;
            width:fit-content;
            text-decoration:none;
            font:inherit;
            font-size:14px;
        }
        a:hover{
            font-weight:500;
            color:black;
            transform:scale(1.02);
        }
    }

    #toggle-btn{
        position:absolute;
        display:block;
        top:2vh;
        //right:5%;
        left:75%;
        width:40px;
        height:fit-content;
        padding:10px;
        z-index:99;
       

        .bars{
            position:relative;
            height:3px;
            width:30px;
            background:white;
            margin:4px auto;
            display:block;
            transition:background 0.1s ease, visibility 0.1s ease, transform 0.5s ease-in-out;
        }

        .bars:nth-child(2)::after{
            content:"Menu";
            font-size:12px;
            position:absolute;
            top:4vh;
            left:0vw;
            color:white;
            height:20px;
            width:50px;
            display:none;
        }
        

    }
    #toggle-btn:hover{
        cursor:pointer;

        .bars:nth-child(2)::after{
            display:flex;
        }
    }
    #toggle-btn.open{
        .bars:first-child{
            transform:translateY(0px) rotate(0deg);
            }
        .bars:last-child{
            transform:translateY(0px) rotate(0deg);
        } 
        .bars:nth-child(2){
            visibility:visible;
        }
    
    }
    #toggle-btn.close{
        .bars:first-child{
            transform:translateY(9px) rotate(45deg);
            }
        .bars:last-child{
            transform:translateY(-6px) rotate(-45deg);
        } 
        
        .bars:nth-child(2){
            visibility:hidden;
        }
         .bars:nth-child(2)::after{
            color:black;
            content:"close";
            visibility:visible;
        }
    }

    
   #nav.toggle{
        position:absolute;
        top:0;
        left:0;
        margin-top:90vh;
        margin-left:0;
        height:100vh;
        width:100vw;
        background:white;
        padding:0px;
        margin:0px;
        @include flex(column,flex-start,center);

        
        li{
            display:block;
            text-align:center;
            margin:20px auto;

            a{
                color:black;
            }
            a:hover{
                color:$green;
            }
        }
        li:first-child{
            margin-top:5em;
        }

        #toggle-btn{
            left:80%;
        }
        #toggle-btn .bars{
            background:black;
        }
    }
    
   

}

@media screen and (min-width:762px){
    nav#topnav{
        width:96%;
        height:10vh;
        padding:1% 2%;
        background:transparent;
        @include flex(row,space-between,center);
       
        #nav{
            right:5%;
        }
        #nav li{
            @include flex(row,center,center);
        }
             
        #toggle-btn{
            display:none;
        }
    } 
    
}

#main{
    position: relative;;
    width:100%;
    overflow-x: hidden;
}

.mobile-illustration{
    // outline:1px solid white;
         height:70vw;
         width:85vw;
         max-width:529px; 
         max-height:450px;
          min-width: 310px;
          min-height:290px; 
          margin-left:-65px;
         background: url(./assets/iphone.png) top center / 90% no-repeat;
 }

/********* Hero Section ************/
 #hero-section{
    padding-top:11vh;
    @include flex(column,space-evenly,center);
    color:white;
    position:relative;
    overflow:hidden;

    h1{
        font-size:calc(12vmin + 5px);
        margin:8vh auto 2vh;
        width: 75%;
        max-width: 600px;
        font-weight: bold;
        line-height: 100.1%;
        text-align: center;
        letter-spacing: -0.05em;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        width:70%;
        max-width:480px;
        text-align: center;
        opacity: 0.9;
        margin:2% auto;
    }

    .mobile-illustration{
        position:relative;
        background-position:bottom center;
    }

} 
 div.store-btns{
        margin:auto;
        width:90%;
        height:180px;
        max-width:600px;
        padding:0;
        @include flex(column,center,flex-end);
        a{
            display:block;
            width:65%;
            max-width:250px;
            height:100px;
            margin:5px auto;
            padding:0;
            color:transparent;
            background:transparent;
            transition:transform 0.2s ease-in-out;
        }
        .google-play{
            background:url(./assets/google-play.svg) center / contain no-repeat;
        }
        .apple-store{
            background:url(./assets/app-store.svg) center / contain no-repeat;
        }
        .google-play,.apple-store{
            width:100%;
        }
        a:hover{
            text-decoration:none;
            transform:scale(1.05);
            cursor:pointer;
            
        }
        a:not(:hover){
            transform:scale(1)
        }

    }  

#hero-section::before{
    @extend %bg-layer;
    background:$green;
    z-index:-4;
    }
#hero-section::after{
    @extend %grain-layer;
    background:$noise;
    z-index:-2;
    }

@media screen and (min-width:762px){
    div.store-btns{
        height:fit-content;
        margin:20px auto;
        width:100%;
        padding:0;
        @include flex(row,center,center);
           a{
               display:flex;
               width:65%;
               max-width:180px;
               height:65px;
               margin:0px 10px;
           }   
    }
    #hero-section{
        h1{
            font-size:5.5em;
            line-height: 1em;
        }

        p{
            font-size:14px;
            font-weight:normal;
            letter-spacing:normal;
            width: 400px;
            margin:2% auto;
        }

        .mobile-illustration{
            margin-left:-85px;
            margin-top:-5px;
            height:370px;
            background: url(./assets/iphone.png) top center / 90% no-repeat;
 
        }
        .mobile-illustration::before,
        .mobile-illustration::after{
            content: '';
            position:absolute;
            z-index:-1;
            height:100%;
            width:100%;
            }
        .mobile-illustration::before{
            top:40%;
            left:-16vw;
            transform:rotate(-26deg); 
            background: url(./assets/iphone.png)  top center / 90% no-repeat;
        }
        .mobile-illustration::after{
            top:31%;
            right:-17vw;
            background: url(./assets/settlements.svg)  top center / 90% no-repeat;
            transform:rotate(23deg);
        }
       
        @keyframes rotate-left{
            from{transform:rotate(-14deg)};
            to{transform:rotate(-26deg)};
        } 
        @keyframes rotate-right{
            from{transform:rotate(11deg)};
            to{transform:rotate(23deg)};
        }
        
        .animate.mobile-illustration::before{
            animation:rotate-left 0.8s ease;
        }
        .animate.mobile-illustration::after{
            animation:rotate-right 0.8s ease;
        }
        
        div.store-btns{
        max-width:600px;
       }  
    }

    
}



#about,#connect,#fans,
#influencer,#influencer-cont,
#features{
    @extend %container;

        h2,h3{
        font-style: normal;
        font-weight: 500;
        line-height:35px;
        letter-spacing: -0.03em;
        color: #007640;
        margin:8px 0;
        text-align:left;
        max-width:300px;
        
         }
         h2{
             font-size:34px;
             font-size:calc(2vw + 24px);
         }
         h3{
            font-size: 24px;
         }

    p{
        font-weight: 300;
        font-size: 16px;
        line-height:24px;
        color: black;
        
    }
   
}
@media screen and (min-width:762px){
    .text-content{
    @include flex(column,center,flex-start);
    width:50%;
    max-height:400px;
    padding:10% 0% 10% 10%;
    }

    #connect,#fans,
    #influencer,#influencer-cont{
        height:100vh;
    }

    #about,#connect,#fans,
    #influencer,#influencer-cont,
    #features{
        
        min-height:400px;

        h2,h3{
        line-height:50px;
        max-width:350px;
        text-align:left;
        
         }
         h2{
             font-size:3em;
         }
         h3{
            font-size: 24px;
         }

    p{
        font-size: 14px;
        line-height:18px;
        max-width:480px;
    }
   
}
}  


#about{
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.075);
    padding-bottom:0px;
    height:60vh;
    min-height:600px;
    background:rgba(194, 194, 194, 0.082);
}



#about::after,#about::before,
#fans aside::before,#fans aside:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    height:100%;
    width:100%;
    opacity:1;
    
}
#about::after,#fans aside::after{ 
    background: $noise;
    opacity:1;
}
#about::before{
    color:black;
    transform: rotate(13deg);
    background:url(./assets/logo2.svg) 100% 28% / 32% no-repeat;
    background-clip:border-box;
    opacity:0.09;
    filter:saturate(0);
}

@media screen and (min-width:762px){
    #about{
        padding:0% 20% 0% 0%;
        height:20vh;
        min-height:400px;
    }
    #about::before{
        height:100%;
        width:100%;
        top:-15%;
        left:15%;
        z-index:2;
        background:url(./assets/logo2.svg) center top / 300px no-repeat;
        background-clip:border-box;
    }
}

#connect{
    padding:12% 10%;
    @include flex(column,space-evenly,center);

    aside.celeb-img-container{
        width:100%;
        height:280px;
        @include flex(row,center,center);
        position:relative;
    }
    h2{
        color:black;
    }
    .pill{
        display:none;
    }
}
@media screen and (min-width:762px){
    #connect{
        @include flex(row-reverse, space-evenly, center);
        padding:0% 5%;
        width:90%;

        aside.celeb-img-container{
         justify-content:flex-start;
        }
        div.text-content{
           width:40%;
           padding:10% 10% 10% 10%;

            .pill{
                display:block;
                background:$orange1;
                margin:4% 0;
            }
           
        }
        h2{
            min-width:350px;
            color:black;
            margin-top:-5px;
        }
    }

 
}

.intro-container{
    width: 100%;
    padding:5% 0;
    @include flex(row,space-between,center)
}


#fans::before{
    @extend %bg-layer;
    background:$green;
}
#fans::after{
    @extend %grain-layer;
    background: $noise;
}

aside{
    width:40%;
    height:100%;
    padding:10% 5%;
    margin:0;
    display:none;
}
#influencer{
   
    padding: 50px 10% 0px;
    .pill{
        display:none;
        background:$orange2;
    }
    .illustration-container{
        display:none;
    }
   
}
#fans,#influencer-cont{
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.075);
    h2,p{
        color:white;
    }
    p{
        font-weight: 300;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    }
}

@media screen and (min-width:762px){
    %user{
        position:relative;
        font-size:0.8em;
        font-weight:bold;
        margin-left:22%;
        width:78%;
    }
    aside{
        @include flex(row,center,center);
        margin:0;
        padding:0% 5%;

        .container{
            width:80%;
            min-width:350px;
            height:102%;
        }
    }

    #fans{
        @include flex(row,space-between,center);

        .text-content{
            width:38%;
            padding:12% 6%;
            
        }
        aside{
            position:relative;
            .container{
                @include flex(column,space-between,center)
            }
        }
        aside::after,aside::before{
            content:"";
            position:absolute;
            top:0;
            left:0;
            z-index:-1;
            height:100%;
            width:100%;
            opacity:1;
        }

        aside::before{
            background: rgb(228, 228, 228);
            z-index:-2;
        }

        aside::after{
            background: $noise;
        }




        .container{
            .box{
                width:90%;
                height:50px;
                padding:3% 5%;
                background:white;
                @include flex(row,flex-start,center);
               
            }

            .box {
               
               padding-top:5%;
                .mic-icon{
                    opacity:0.5;
                    margin-left:-5%;
                }
            }
            .textBox{
                position:relative;
                width: 85%;
                height:10px;
                background:rgba(219, 219, 219, 0.185);
                border-radius:5px;
                border:1px solid transparent;
                padding:10px;
                @include flex(row,space-between,center);
            }

                ////

        .textBox span{
            font-family:$dm;
            font-size:0.8em;
            font-weight:500;
            color:black;
            width:0;
            overflow: hidden;
            border-right: .15em solid black;
            white-space: nowrap;
            margin: 0;
            animation:
               // typing 3.5s steps(40, end) infinite,
                blink-caret .75s step-end infinite;
            }

        .textBox span.animate{
            width:120px;
            max-width:120px;
            animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite ;
        }
          
          /* The typing effect */
          @keyframes typing {
            from { width: 0 }
            to { width: 120px }
          }
          
          /* The typewriter cursor effect */
          @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: black; }
          }
        ////
        .chat-area{
            height:70%;
            @include flex(column,flex-start,center);
        }

            .left,.right{
                position:relative;
                max-width:60%;
                font-size:0.8em;
                background:white;
                padding:4%;
                font-weight:500;
                border-radius:12px;
                margin:5% 0;
            }
            .left{
                align-self:flex-start;
                border-bottom-left-radius:0px;
            }
            .right{
                align-self:flex-end;
                border-bottom-right-radius: 0px;
            }
            .user{
                @extend %user;
                color:black;
            }
           
        }
    }

    #influencer{
        padding:0%;
        @include flex(row-reverse,space-around,center);
        max-height:435px;
        div.text-content{
            @include flex(column,center,flex-start);
            width:40vw;
            padding:12% 5% 12% 0%;  
            margin:0;
            height:100%;
        }
        .pill{
            display:flex;
        }
        .illustration-container{
            width: 50%;
            margin: 0;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            margin-left: -30px;
            margin-right: 30px;
        }
        .mobile-illustration{
            display: block;
            height: 85vmax;
            max-height: calc(90vh - 20px);
            width: 100%;
            min-width: calc(64vmin + 10px);
            max-width: 400px;
            background: url(./assets/settlements.svg) bottom left / 100% no-repeat;
            
        }
    }
}
    
.user::before{
    content:'';
    position:absolute;
    top:-20px;
    left:-25%;
    height:50px;
    width:50px;
    background:black;
    border-radius:50%;
}


#influencer-cont::before{
    @extend %bg-layer;
    background: #202020;

}
#influencer-cont::after{
   @extend %grain-layer;
   background: $whitenoise;
}
@media screen and (min-width:762px){
    #influencer-cont{
        @include flex(row,flex-start,center);
        div.text-content{
            width:35%;
            padding:12% 10% 12% 10%;

            h2,p{
                color:white;
            }
            p{
                width:295px;
            }
            
        }
        aside{
            background:rgb(39,39,39);
            width:40%;
            padding:0% 5%;
            @include flex(row,center,center);
        }

        .container{
            height:100%;
            margin-top:-50%;
            border:10px solid rgb(46,46,46);
            border-radius:35px;
            //@include flex(row,center,flex-start);
            position:relative;
        }
        @keyframes drop{
          from{bottom: 100%} 
          to{bottom:0}
        }
    .container .inner-container{
                height: 35%;
                width: 90%;
                padding: 10% 5%;
                border-radius: 20px;
                color: white;
                @include flex(row,space-evenly,center);
                flex-wrap: wrap;
                background: #363636;
                position: absolute;
                bottom:100%;
                .user{
                    @extend %user;
                    width:80%;
                    font-size:13px;
                    font-weight:500;
                }
                .user::before{
                    top:-10px;
                    left:-24%;
                }
                .user span{
                font-weight:300; 
                opacity:0.6;
                }
                
                .left,.right{
                    padding:10px 15%;
                    border-radius:5px;
                    font-size:14px;
                    text-align:center;
                }
                .left{
                    background:#e34d4d;
                }
                .right{
                    background:#029c56;
                }
            }
        
    .container .animate.inner-container{
        animation:drop 1s ease-in-out;
        bottom:0;
    }
    }
}

@media screen and (min-width:762px){
    #fans,#influencer-cont{
        padding:0%;
        h2{
            width:100%;
            max-width:50px;
            min-width:250px;
        }

        p{
            width:300px;
            font-size:0.8em; 
        }

    }
}

#features{
    padding:10% 0% 0%;
    width:98%;
    margin-left:2%;
    .illustration-container{
        display:none;
    }
}
#features-list{
    list-style: none;
    padding:10% auto;
    width:90%;
}
   
#features-list li{
        width:80%;
        position:relative;
        margin:50px auto;
       
        
        h3{
        position:relative;
        padding:0;
        margin:0;
        line-height:24px;
        }

    h3::before,h3::after{
        content:"";
        position:absolute;
        top:10%;
        left:-49px;
        width:20px;
        height:20px;
        border:1px solid black;
        border-radius:50%;
        background: white;
        opacity:1;
        
    }
    h3::after{
        border-color:none;
        background:grey;
        transform:scale(0.5);
        opacity:0.4;
    }

}
#features-list{
    li:not(:last-child)::after{
        content:"";
        position:absolute;
        top:25px;
        left:-38px;
        width:1px;
        height:150%;
        background:black;
        opacity:0.5;
    }
}

@media screen and (min-width:762px){
    #features{
        @include flex(row,flex-start,center);
        height:fit-content;
        width:90%;
        padding:10% 0% 0% 5%;
        overflow:visible;
        .text-content{
            width:50%;
            padding:50px 5% 10%;
            margin-left:0px;
            h2{
                padding:10% 0%;
            }
        }
        .illustration-container{ 
            position:absolute;
            @include flex(row,flex-start,center);
            bottom: -20%;
            right: 40px;
            height: 615px;
            width: 50%;
            }
            .illustration-container .mobile-illustration{
                height:100%;
                max-height:750px;
                width:100%;
                max-width:470px;
                margin:0px;
                background: url(./assets/features.svg) top left / 100% no-repeat;  
            }   
      
    }
 }


#call-to-action{
    @extend %container;
    @include flex(column,center,center);
    padding:5% 5% 10%;
    width:90%;
    
    height:100%;
    overflow:visible;

    .illustration-container{
        @include flex(row,flex-start,flex-end);
        margin-bottom:-10px;
        z-index:-2;

        .mobile-illustration{
            margin-left:-10%;
            width:90vw;
            max-width:600px;
            min-height:calc(75vw + 50px);
            background: url(./assets/settlements.svg) bottom left / 100% no-repeat;
        }
    }
    

    div.container{
        position:relative;
        width:82%;
        padding:10% 8%;
        border-radius:60px;
        color:white;
        z-index:0;

        h1{
            font-size:calc(10vmin + 10px);
            margin:4vh auto;
            font-weight: normal;
            font-size: 48px;
            line-height: 100.1%;
            text-align: left;
            letter-spacing: -0.05em;
        }

        .store-btns{
            margin-top:50px;
        }

        .illustration-container{
            display:none;
        }
    }
    .container::before{
        @extend %bg-layer;
        background:$green;
        border-radius:60px;
    }
    .container::after{
        @extend %grain-layer;
        border-radius:60px;
    }
}
#call-to-action::after{
    content:'';
    position:absolute;
    bottom:0;
    height:1px;
    width:80%;
    background:grey;
}

@media screen and (min-width:762px){
    #call-to-action{
        width:90%;
        margin:0 auto;
        padding:0% 5%;
        position:relative;
        overflow:visible;  
        
        .illustration-container{
            display:none;
        }

        div.container{
            width:90%;
            max-width:920px;
            min-width:600px;
            height:520px;
            z-index: 0;
            padding:0% 5%;
            overflow:hidden;
            margin:0 auto 5%;
            @include flex (row,flex-end,center);
            
            .text-content{
                width:55%;
                align-items: flex-start;
                padding:0;
                padding-left:5%;
                h1{
                    font-weight:bold;
                    width:90%;
                    max-width:280px;
                    margin:0;
                    
                }
               
                .store-btns{
                    margin-top:0;
                    margin-left:-10px;
                    width:90%;
                    max-width:350px;
                    justify-content: space-between;
               }
               
            }

            .illustration-container{
            align-self:flex-end;
            @include flex(row,center,flex-end);
            width:40%;
            height:100%;

            .mobile-illustration{
                content:"";
                position:relative;
                margin-left:-2%;
                left:12%;
                height:100%;
                min-height:100%;
                width:260px;
                background:url(./assets/hand.png) bottom center / 260px no-repeat;
            }
            .mobile-illustration::after{
                content: "";
                position: absolute;
                z-index: 2;
                top: 177px;
                right: 66px;
                height: 194px;
                width: 111px;
                background:url(./assets/splash.png) center / 100% no-repeat;
            }
        }
            
        } 

        
        
       
    }  
}
/*--------------Footer-----------------*/

#footer{
    width:90%;
    padding:10% 5%;

    form{
        width:100%;
    }

    form h2{
        line-height:35px;
        letter-spacing: -0.03em;
        span{
            font-weight:normal;
        }
    }
    .submit-btn,.email-input{
            font-family:$dm;
            font-weight:normal;
            font-size:16px;
            
        }
    .email-input{
        padding:18px 5px;
        letter-spacing: -0.03em;
        border:1px solid grey;
        border-top-left-radius: 10px;
        border-bottom-left-radius:10px;
        width:58%;
        margin:10px auto;
    }
    .email-input:focus{
        outline:none;
    }
    .submit-btn{
        border:1px solid black;
        padding:20px;
        width:32%;
        font-size:14px;
        text-transform:uppercase;
        border-top-right-radius: 10px;
        border-bottom-right-radius:10px;
        background:black;
        color:white;
        letter-spacing:1px;
    }
    .submit-btn:hover{
        cursor:pointer;
        background:$green;
        border:1px solid $green;
    }

    .socials {
        width:100%;
        margin:20px auto 0;
        position: relative;
        @include flex(row,flex-start,center);
        flex-wrap:wrap;
    }
    .logo{
        position:relative;
        color:transparent; 
        text-decoration:none;
        height:2em;
        width:100%;
        margin-top:40%;
        
    }
    
    .logo::after{
        content:"";
        position:absolute;
        top:0;
        left:0;
        padding:18px 50px;
        z-index:1;
        opacity:1;
        background:url(./assets/ear1-logo.svg) top left / 90px no-repeat;
    }
    .logo:hover{
        cursor:pointer;
    }

    .socials ul{
        list-style:none;
        padding:10px 0;
        width: 50%;
        max-width:120px;
        @include flex(row, space-between,center);

        li{
            width: 32px;
            height: 32px;
            border-radius:50%;
            background:#ececec;
            @include flex(row,center,center);

            a{  
                color:black;
                font-size:.8rem;
                text-decoration:none;
            }

            a:hover{
                transform:scale(1.2);
                color:$green;
                cursor:pointer;
                font-weight:bold;
            }

        }
    }

    .footer-nav{
        padding:0;
        width:90%;
        ul{
            width:80%;
            list-style:none;
            padding:8px 10px;
            

            header{
                padding:5px 0;
                font-style: normal;
                font-weight: 500;
                line-height:35px;
                letter-spacing: -0.03em;
                margin:2% auto;
                text-align:left;
                //font-size:calc(2vmin + 4px);
            }
        }
        li{
            margin:5px auto;
            text-align:left;

            a{
                text-decoration:none;
                font-weight:normal;
                color:black;
                letter-spacing: -0.02em;
                font-size:.8rem;
                padding:2px;
                
            }
            a:hover{
                transform:scale(2);
                color:$green;
                cursor:pointer;
                font-weight:bold;
            }

        }
    }
}  


@media screen and (min-width:762px){
    #footer{
        position:relative;
        padding:5%;
        width:90%;
        @include flex(column,center,flex-end);
        form,.footer-nav{
            width:70%;
        }

        form{
            h2{
                font-size:calc(2vmin + 7px);
            }

        }

        .socials{
            position:absolute;
            top:25%;
            left:5%;
            padding:0 5px;
            width:25%;
            @include flex(column,center,flex-start);
        }

        .socials ul{
            list-style:none;
            padding:0;
            width: 100%;
            @include flex(row, space-between,center);
            
        }
    }
    .footer-nav{
        @include flex(row,center,flex-start)
    }
}

    






